@{
    ViewData["Title"] = "Landing Page";
}

<div class="container">
    <div class="row align-items-start mb-3" >
        <div class="col-sm">
            <h4 class="text-center">Welcome to our Ketchup and Mayo database!</h4>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-sm">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="ketchup.jpg" />
                <div class="card-body">
                    <h4 class="card-title"><a>Ketchup</a></h4>
                    <p class="card-text">Spicy, mild, we have got everything you need!</p>
                    <a href="/ketchup" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="mayo.jpg" />
                <div class="card-body">
                    <h4 class="card-title"><a>Mayo</a></h4>
                    <p class="card-text">Not a fun of ketchup? Try our mayos!</p>
                    <a href="/mayo" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
</div>