@{
    ViewData["Title"] = "Landing Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">
            Welcome to Ketchup&Mayo!
        </h1>
        <p class="lead">Our mission is to deliver the best experience in terms of texture and taste of our products.</p>
        <hr class="my-4" />
        <p>
            Since 1947 we have delivered only the best quality Ketchup and Mayo. We use non-GMO ingredients in our traditional recipies
            to ensure our products are healthy and tasty. Trust us like milions of people did.
        </p>
    </div>
       
</div>
<div class="row justify-content-center">
    <div class="col-md">
        <div class="card mx-auto" style="width:300px">
            <img class="card-img-top" src="ketchup.jpg" />
            <div class="card-body">
                <h4 class="card-title"><a>Ketchup</a></h4>
                <p class="card-text">Spicy, mild, we have got everything you need!</p>
                <a href="/ketchup" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card mx-auto" style="width:300px">
            <img class="card-img-top" src="mayo.jpg" />
            <div class="card-body">
                <h4 class="card-title"><a>Mayo</a></h4>
                <p class="card-text">Not a fun of ketchup? Try our mayos!</p>
                <a href="/mayo" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
</div>
